{% extends 'base.html' %}
{% load static %}
{% block body %}

  <div class="page-heading normal-space">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Liberty NFT Market</h6>
          <h2>Create Your NFT Now.</h2>
          <span>Home > <a href="#">Create Yours</a></span>
          <div class="buttons">
            <div class="main-button">
              <a href="{% url 'liberty:explore' %}">Explore Our Items</a>
            </div>
            <div class="border-button">
              <a href="{% url 'liberty:create' %}">Create Your NFT</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="item-details-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>Apply For <em>Your Item</em> Here.</h2>
          </div>
        </div>
        <form action="{% url 'liberty:create' %}" method= "POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Submit</button>

        </form>

        <!-- <div class="col-lg-12">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-4">
                <fieldset>
                  <label for="title">Item Title</label>
                  <input type="title" name="title" id="title" placeholder="Ex. Lyon King" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-4">
                <fieldset>
                  <label for="description">Description For Item</label>
                  <input type="description" name="description" id="description" placeholder="Give us your idea" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-4">
                <fieldset>
                  <label for="username">Your Username</label>
                  <input type="username" name="username" id="username" placeholder="Ex. @alansmithee" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <label for="price">Price Of Item</label>
                  <input type="price" name="price" id="price" placeholder="Price depends on quality. Ex. 0.06 ETH" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <label for="royalities">Royalties</label>
                  <input type="royalities" name="royalities" id="royalities" placeholder="Common royalties 1-25%" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-4">
                <fieldset>
                  <label for="file">Your File</label>
                  <input type="file" id="file" name="myfiles[]" multiple />
                </fieldset>
              </div>
              <div class="col-lg-8">
                <fieldset>
                  <button type="submit" id="form-submit" class="orange-button">Submit Your Applying</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div> -->

        <div class="col-lg-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>This Is <em>Your Item</em> Preview.</h2>
          </div>
        </div>
        {% for item in items %}
        <div class="col-lg-7">
          <div class="left-image">
            <img src="{{item.image.url}}" alt="" style="border-radius: 20px;">
          </div>
        </div>
        {% endfor %}
        {% for author in authors %}
        {% for item in items %}
        <div class="col-lg-5 align-self-center">
          <h4>Dolores Haze Westworld Eye</h4>
          <span class="author">
            <img src="{{author.avatar.url}}" alt="" style="max-width: 50px; border-radius: 50%;">
            <h6>{{author.first_name}} {{author.last_name}}<br><a href="#">{{author.nickname}}</a></h6>
          </span>
          <p>{{item.body}}</p>
          <div class="row">
            <div class="col-3">
              <span class="bid">
                Current Bid<br><strong>0.{{item.bid}} ETH</strong><br><em>($8055,35)</em>
              </span>
            </div>
            <div class="col-4">
              <span class="owner">
                Owner<br><strong>{{item.owner}}</strong><br><em>({{item.owner_username}})</em>
              </span>
            </div>
            <div class="col-5">
              <span class="ends">
                Ends In<br><strong>{{item.ends_in}}</strong><br><em>(January 22nd, 2021)</em>
              </span>
            </div>
          </div>
        </div>
      {% endfor %}
      {% endfor %}  

      </div>
    </div>
  </div>
{% endblock %}
 