{% extends 'base.html' %}
{% load static %}
{% block body %}

  <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Liberty NFT Market</h6>
          <h2>Discover Some Top Items</h2>
          <span>Home > <a href="#">Explore</a></span>
        </div>
      </div>
    </div>
    <div class="featured-explore">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="owl-features owl-carousel">
              {% for author in authors %}
              {% for item in items %}
              <div class="item">
                <div class="thumb">
                  <img src="{{item.image.url}}" alt="" style="border-radius: 20px;">
                  <div class="hover-effect">
                    <div class="content">
                      <h4>Triple Mutant Ape Bored</h4>
                      <span class="author">
                        <img src="{{author.avatar.url}}" alt="" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                        <h6>{{author.first_name}} {{author.last_name}}<br><a href="#">{{author.username}}</a></h6>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              {% endfor %}
              <!-- <div class="item">
                <div class="thumb">
                  <img src="{{item.image}}" alt="" style="border-radius: 20px;">
                  <div class="hover-effect">
                    <div class="content">
                      <h4>Bored Ape Kennel Club</h4>
                      <span class="author">
                        <img src="{{author.avatar.url}}" alt="" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                        <h6>{{author.first_name}} {{author.last_name}}<br><a href="#">{{author.username}}</a></h6>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <img src="{% static 'assets/images/featured-03.jpg' %}" alt="" style="border-radius: 20px;">
                  <div class="hover-effect">
                    <div class="content">
                      <h4>Genesis Club by KMT</h4>
                      <span class="author">
                        <img src="{% static 'assets/images/author.jpg' %}" alt="" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                        <h6>Liberty Artist<br><a href="#">@libertyart</a></h6>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <img src="{% static 'assets/images/featured-04.jpg' %}" alt="" style="border-radius: 20px;">
                  <div class="hover-effect">
                    <div class="content">
                      <h4>Crypto Aurora Guy</h4>
                      <span class="author">
                        <img src="{% static 'assets/images/author.jpg' %}" alt="" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                        <h6>Liberty Artist<br><a href="#">@libertyart</a></h6>
                      </span>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="discover-items">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>Discover Some Of Our <em>Items</em>.</h2>
          </div>
        </div>
        <div class="col-lg-7">
          <form id="search-form" method="post" role="search" action="{% url 'liberty:filter_products' %}">
              {% csrf_token %}
              <div class="row">
                  <div class="col-lg-4">
                      <fieldset>
                          <input type="text" name="keyword" class="searchText" placeholder="Type Something..." autocomplete="on" required>
                      </fieldset>
                  </div>
                  <div class="col-lg-3">
                      <fieldset>
                          <select name="category" class="form-select" aria-label="Default select example">
                              <option value="">All Categories</option>
                              {% for category in categories %}
                                  <option value="{{ category.name }}">{{ category.name }}</option>
                              {% endfor %}
                          </select>
                      </fieldset>
                  </div>
                  <div class="col-lg-2">                        
                      <fieldset>
                          <button type="submit" class="main-button">Search</button>
                      </fieldset>
                  </div>
              </div>
          </form>
      </div>
        {% for item in items %}
        <div class="col-lg-3">
          <div class="item">
            <div class="row">
              <div class="col-lg-12">
                <span class="author">
                  <img src="{{item.author.avatar.url}}" alt="" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                </span>
                <img src="{{item.image.url}}" alt="" style="border-radius: 20px;">
                <h4>{{item.title}}</h4>
              </div>
              <div class="col-lg-12">
                <div class="line-dec"></div>
                <div class="row">
                  <div class="col-6">
                    <span>Current Bid: <br> <strong>{{item.bid}} ETH</strong></span>
                  </div>
                  <div class="col-6">
                    <span>Ends In: <br> <strong>{{item.ends_in}}</strong></span>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="main-button">
                  <a href="{% url 'liberty:details' item.pk %}">View Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        {% endfor %}
        {% include 'pagination.html' %}
      </div>
      
    </div>
    
  </div>
  
  
  <div class="top-seller">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>Our Top Sellers This Week.</h2>
          </div>
        </div>
        {% for author in authors %}
        <div class="col-lg-3 col-sm-6">
          <div class="row">
            
            <div class="col-lg-12">
              <div class="item">
                <h4>1.</h4>
                <img src="{{author.avatar.url}}" alt="" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                <h6>NFT Top Artist<br><a href="#">8.6 ETH or $12,000</a></h6>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="item">
                <h4>2.</h4>
                <img src="{{author.avatar.url}}" alt="" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                <h6>NFT Top Artist<br><a href="#">4.8 ETH or $14,000</a></h6>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="item">
                <h4>3.</h4>
                <img src="{{author.avatar.url}}" alt="" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                <h6>NFT Top Artist<br><a href="#">6.2 ETH or $26,000</a></h6>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        
        
    </div>
  </div>
  
{% endblock %}